//--------------------------------------------------------------------------------------------------
// mixin tests with RTL inclusion
//--------------------------------------------------------------------------------------------------

$include-rtl: true;

@import "../src/bidi-sass-extjs/all";

/* generate combined styles using single mixin call */
.combined-styles {
    @include extjs-bidi($styles: (
        margin: 1em 2em 3em 4em,
        padding: 5in 6in 7in 8in,
        float: right,
        border-top-left-radius: 10px 20px 30px 40px
    ));
}

/* generate padding styles only */
.single-style-padding {
    @include padding(1px 2px 3px 4px);
    @include padding-left(12px);
    @include padding-right(12px);
}

/* generate margin styles only */
.single-style-padding {
    @include margin(1px 2px 3px 4px);
    @include margin-left(12px);
    @include margin-right(12px);
}