//--------------------------------------------------------------------------------------------------
// mixin tests with RTL inclusion
//--------------------------------------------------------------------------------------------------

$include-rtl: true;

@import "../src/bidi-sass-extjs/all";

/* combined styles using single mixin call */
.combined-styles {
    @include extjs-bidi((
        margin: 1em 2em 3em 4em,
        padding: 5in 6in 7in 8in,
        float: right,
        border-top-left-radius: 10px 20px 30px 40px
    ));
}

/* single styles only */
.single-styles-only {
    @include padding(1px 2px 3px 4px);
    @include margin-left(12px);
    @include border-right-width(12px);
}


/* with additional sub-selector */
.with-additional-sub-selector {
    @include margin(1px 2px 3px 4px, "sub-selector");
}

/* combined styles with sub-selector */
.combined-with-sub-selector {
    @include extjs-bidi($sub-selector: "sub-selector",
        $styles: (
            margin: 1em 2em 3em 4em,
            padding: 5in 6in 7in 8in,
            float: right,
            border-top-left-radius: 10px 20px 30px 40px
        )
    );
}