//--------------------------------------------------------------------------------------------------
// mixin tests with RTL inclusion
//--------------------------------------------------------------------------------------------------

$include-rtl: true;

@import "../src/bidi-sass-extjs/all";

.foo {
    @include padding(8px 2px 3px 4px);
    @include margin-left(5px);
    @include extjs-bidi($styles: (
        margin: 1 2 3 4,
        padding: 5 6 7 8
    ));
}